	<h2 class="sub-header">Últimas Atividades</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Curso</th>
                  <th>Fase/Etapa</th>
                  <th>Data</th>
                  <th> % </th>
                  <th>Continuar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>OBI Modalidade Iniciação Nível 2</td>
                  <td>Fase 12 / Etapa 15</td>
                  <td>20/12/2014</td>
                  <td>87%</td>
                  <td><button type="button" class="btn btn-sm btn-primary">Continuar</button></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Programação 1</td>
                  <td>Fase 5 / Etapa 1</td>
                  <td>20/11/2014</td>
                  <td>35%</td>
                  <td><button type="button" class="btn btn-sm btn-primary">Continuar</button></td>
                </tr>
              </tbody>
            </table>
          </div>