
@dashboard.index("teacher") {
	
	<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Dashboard</h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard </li>
                        </ol>
                    </div>
                </div>
	<!-- End Page Heading -->
	
	<div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-graduation-cap fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">*</div>
                                        <div>Cursos</div>
                                    </div>
                                </div>
                            </div>
                            <a href="@controllers.course.routes.CourseController.index()">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver Detalhes</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-newspaper-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">*</div>
                                        <div>Sessões</div>
                                    </div>
                                </div>
                            </div>
                            <a href="@controllers.course.routes.SessionController.index()">
                                <div class="panel-footer">
                                    <span class="pull-left"> Ver Detalhes</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-file-text fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">*</div>
                                        <div>Questões</div>
                                    </div>
                                </div>
                            </div>
                            <a href="@controllers.questions.routes.QuestionController.index()">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver Detalhes</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-book fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">*</div>
                                        <div>Listas de Exercícios</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver Detalhes</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                
                <div class="row">
        			<div class="col-md-6">
        				<div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Soluções dos Estudantes </h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="@controllers.resolution.routes.TestCorrectionController.listAllUncorrectSolutions()" class="list-group-item">
                                        <span class="badge badge-secondary">Ver todas</span>
                                        Soluções sem correção
                                    </a>
                                    <a href="@controllers.resolution.routes.TestCorrectionController.listAllSolutions()" class="list-group-item">
                                        <span class="badge badge-secondary">Ver todas</span>
                                        Todas as Soluções
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge badge-secondary">Ver todas</span>
                                        Respostas das Listas de Exercícios
                                    </a>
                                </div>
                            </div>
                        </div>
        			</div>
        			
        			<div class="col-md-6">
        				<div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Desempenho da Turma </h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
									Ainda em construção.
                                </div>
                            </div>
                        </div>
        			</div>
      			</div>
	
	
	<!-- Custom styles for this template -->
	<link href='@routes.Assets.at("stylesheets/sb-admin.css")' rel="stylesheet">
    <link href='@routes.Assets.at("stylesheets/plugins/morris.css")' rel="stylesheet">
    <link href='@routes.Assets.at("font-awesome/css/font-awesome.min.css")' rel="stylesheet" type="text/css">

}