@(question: models.curriculum.question.Question, solutionform: DynamicForm, valor: Integer)

@import helper._ 

@dashboard.bodyDashboard {
	
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	<div class="container">

      <div class="row">
	
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
   			
   			@if(flash.containsKey("success")) {
				<center>
				<div class="alert alert-success">
		        	<strong>Parabéns! </strong> @flash.get("success")
		    	</div>
		    	</center>
	  		}
	  		@if(flash.containsKey("error")) {
				<center>
				<div class="alert alert-danger">
		        	<strong>Ops! </strong> @flash.get("error")
		    	</div>
		    	</center>
	  		}
	  		@if(flash.containsKey("info")) {
				<center>
				<div class="alert alert-warning">
		        	<strong>Vamos lá! </strong> @flash.get("info")
		    	</div>
		    	</center>
	  		}
	  		
          <div class="panel panel-info">
   
            <div class="panel-heading">
              <h3 class="panel-title">Exercicios</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                              
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                    
		      		  <tr>
                        <td>Questão: </td>
                        <td> @Html(question.getEnunciation()) </td>
                      </tr>
                      
                      <tr>
                      	@form(routes.ExperimentoController.submeter(question.getId(),valor)) {
                        <td></td>
                        <td> 
                        	<!-- solucao -->
							      @inputText(
							      		solutionform("solution"),
							      		'_label -> "Solução"
							      )
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <button type="submit" class="btn btn-sm btn-primary">Submeter Solução</button>
                        }
                        <span class="pull-right">
                        	<a href='@routes.ExperimentoController.dica(question.getId(),valor)' type="button" class="btn btn-sm btn-warning">Pedir Dica</a>
							<a href='@routes.ExperimentoController.desistir(question.getId(),valor)' type="button" class="btn btn-sm btn-danger">Desistir da questão</a>
                        	
                        </span>
                    </div>
            
          </div>
        </div>
      </div>
    </div>	


}