@(student: models.users.Student, modulesList: List[models.course.Module])

@dashboard.index("student") {
	
	<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
    <!-- /.row -->
	
	<div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Seu Desempenho</h3>
                            </div>
                            <div class="panel-body">
                                <div class="text-right">
                                    <a href="#">Ver Detalhes <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @modules(modulesList)
                    </div>
                    
                </div>
                <!-- /.row -->
                

				<div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Listas de Exercícios </h3>
                            </div>
                            <div class="panel-body">
                                <div class="text-right">
                                    <a href="#">Ver Detalhes <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                        	</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Suas Soluções </h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="@controllers.resolution.routes.TestCorrectionController.listAllUncorrectSolutions()" class="list-group-item">
                                        <span class="badge badge-secondary">Ver todas</span>
                                        Soluções sem correção
                                    </a>
                                    <a href="@controllers.resolution.routes.TestCorrectionController.listAllSolutions()" class="list-group-item">
                                        <span class="badge badge-secondary">Ver todas</span>
                                        Todas as Soluções
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /.row -->
                
                
	<!-- Custom styles for this template -->
	<link href='@routes.Assets.at("stylesheets/sb-admin.css")' rel="stylesheet">
    <link href='@routes.Assets.at("stylesheets/plugins/morris.css")' rel="stylesheet">
    <link href='@routes.Assets.at("font-awesome/css/font-awesome.min.css")' rel="stylesheet" type="text/css">

}