@(question: models.curriculum.Question, solutionForm: DynamicForm, feedback: models.curriculum.Hint)

@import helper._

@dashboard.index("") {

	<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Resolução de Questões</h1>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-dashboard"></i><a href="@routes.DashboardController.dashboard()"> Dashboard</a></li>
                            <li>
                                <i class="fa fa-question-circle"></i>
                                <a href="@controllers.resolution.routes.ResolutionController.listAll()"> Lista de Questões </a>
                            </li>
                            <li class="active"> @question.name
                            </li>
                        </ol>
                    </div>
                </div>
	<!-- End Page Heading -->
	
	<center>
		<h3><span class="label label-warning"> @question.id </span></h3>
		<h3>@question.name </h3>
	</center>
	
	<hr>
	
	<div class="row">
	
	@if(flash.containsKey("success")) {
				<center>
				<div class="alert alert-success">
		        	<strong>Parabéns! </strong> @flash.get("success")
		    	</div>
		    	</center>
	  		}
	  		@if(flash.containsKey("error")) {
				<center>
				<div class="alert alert-danger">
		        	<strong>Ops! </strong> @flash.get("error")
		    	</div>
		    	</center>
	  		}
	  		@if(flash.containsKey("warning")) {
				<center>
				<div class="alert alert-warning">
		        	<strong>Atenção! </strong> @flash.get("warning")
		    	</div>
		    	</center>
	  		}
	  	

	  	<div class="panel panel-default">
            	<div class="panel-heading">
             	 	<h3 class="panel-title">Detalhes</h3>
            	</div>
            	<div class="panel-body">
              		<strong>Nível: </strong> @question.level <br>
        			<strong>Tópicos: </strong> @for(topic <- question.topics){ @topic.name, } <br>
        			<strong>Tipo: </strong> @question.questionType <br>
            	</div>
        </div>    
	
        
        	
        		@if(question.getQuestionType.name().equals("TEXT")){
					@textQuestion(question, solutionForm)
				} else {
					@if(question.getQuestionType.name().equals("PARAGRAPH_TEXT")){
						@paragraphQuestion(question, solutionForm)
					} else {
						@if(question.getQuestionType.name().equals("MULTIPLE_CHOICE")){
							@choiceQuestion(question, solutionForm)
						} else {
							@if(question.getQuestionType.name().equals("TRUE_FALSE")){
								@truefalseQuestion(question, solutionForm)
							} else {
								@if(question.getQuestionType.name().equals("UPLOAD")){
									@uploadQuestion(question, solutionForm)
								} else {
									@codeQuestion(question, solutionForm, feedback)
								}
							}
						}			
					}
				}
        	
        
       
      </div>


}