@(question: models.curriculum.Question, solutionForm: DynamicForm)

@import helper._



@form(controllers.resolution.routes.ResolutionController.submit(question.getId())) {
	<fieldset>
		<dl>
  			<dt>Enunciado</dt>
  			<dd>@Html(question.getStatement())</dd>
		</dl>
		
		<dl>
		@textarea(
			                solutionForm("answer"), 
			                '_label -> "Resposta",
			                'rows -> 5,
    						'cols -> 60
			          )
		</dl>
		
		<button class="btn btn-success">Submeter Solução</button>
	</fieldset>
}