@(question: models.curriculum.Question, solutionForm: DynamicForm)

@import helper._



@form(controllers.resolution.routes.ResolutionController.submit(question.getId())) {
	<fieldset>
		<div id="legend">
			<legend class="">Exercícios</legend>
		</div>
		
		<dl>
  			<dt>Enunciado</dt>
  			<dd>@Html(question.getStatement())</dd>
		</dl>
		
		<dl>
			@inputRadioGroup(
				solutionForm("answer"),
				options = Seq("True"->"Verdadeiro","False"->"Falso"),
				'_label -> "Resposta"
				)
		</dl>
		
		<button class="btn btn-success">Submeter Solução</button>
}