@(feedback: models.curriculum.Hint)

<h3>Escola um tipo de ajuda!</h3>
<strong>Você pode receber dicas para criar o algoritmo ou para corrigir erros.	</strong>
<br>
<button class="btn btn-primary" type="submit" name="action" value="text">Texto</button>
<button class="btn btn-primary" type="submit" name="action" value="video">Video</button>
<button class="btn btn-primary" type="submit" name="action" value="flow">Fluxograma</button>
<br><br>
<div class="pre-scrollable"> 
	@if(feedback!=null){
		@Html(feedback.getContent())
	}
</div>