@(currentPage: com.avaje.ebean.PagingList[models.curriculum.Question], currentSortBy: String, currentOrder: String, currentFilter: String)

@import helper._


@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    controllers.questions.routes.QuestionController.list(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}


@dashboard.index("") {

	<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Questões</h1>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-dashboard"></i><a href="@routes.DashboardController.dashboard()"> Dashboard</a></li>
                            <li class="active">
                                <i class="fa fa-question-circle"></i> Questões
                            </li>
                        </ol>
                    </div>
                </div>
	<!-- End Page Heading -->
	
	<h2>Resultados Encontrados: @currentPage.getTotalRowCount</h2>
	

    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            <strong>Feito!</strong> @flash.get("success")
        </div>
	} 

	<div id="actions">
        
        <form action="@link(0, "name")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Procurar por nome...">
            <input type="submit" id="searchsubmit" value="Buscar" class="btn btn-primary">
        </form>
        
        <a class="btn btn-success" id="add" 
        	href="#">Criar Nova Questão</a>
        
	</div>
	
	@if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nenhum resultado encontrado.</em>
        </div>
        
	} else {
		
		<table class="table table-striped">
            <thead>
                <tr>
                	@header("id", "Id")
                    @header("name", "Nome")
                    @header("level", "Nível")
                    @header("questionType", "Tipo")
                    @header("topics", "Tópicos")
                </tr>
            </thead>
            <tbody>

                @for(question <- currentPage.getAsList()) {
                    <tr>
                    	<td>@question.id</td>
                        <td> <a href="@controllers.questions.routes.QuestionController.details(question.id)">@question.name</a></td>
                        <td>@question.level</td>
                        <td>@question.questionType</td>
                        <td>
                        	@for(topic <- question.topics){ @topic.name, }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
		
	}

<!-- Custom styles for this template -->
	<link href='@routes.Assets.at("stylesheets/sb-admin.css")' rel="stylesheet">
    <link href='@routes.Assets.at("stylesheets/plugins/morris.css")' rel="stylesheet">
    <link href='@routes.Assets.at("font-awesome/css/font-awesome.min.css")' rel="stylesheet" type="text/css">
    
}