@()

@import helper._

@dashboard.index("teacher") {

<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Questões</h1>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-dashboard"></i><a href="@routes.DashboardController.dashboard()"> Dashboard</a></li>
                            <li>
                                <i class="fa fa-question-circle"></i>
                                <a href="@controllers.questions.routes.QuestionController.index()"> Questões </a>
                            </li>
                            <li class="active"> Seleção do Tipo de Questão
                            </li>
                        </ol>
                    </div>
                </div>
	<!-- End Page Heading -->

<h3>Selecione o tipo da questão que deseja criar:</h3>
      <div class="row">
        <div class="col-md-4">
        	<a href="@controllers.questions.routes.TextQuestionController.create()" role="button" class="btn btn-default btn-lg btn-block">Resposta de Texto Curto</a>
        </div>
        <div class="col-md-4">
        	<a href="@controllers.questions.routes.ParagraphQuestionController.create()" role="button" class="btn btn-default btn-lg btn-block">Resposta de Texto Longo</a>
        </div>
        <div class="col-md-4">
        	<a href="@controllers.questions.routes.TrueFalseQuestionController.create()" role="button" class="btn btn-default btn-lg btn-block">Verdadeiro ou Falso</a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
        	<a href="@controllers.questions.routes.MultipleChoiceQuestionController.create()" role="button" class="btn btn-default btn-lg btn-block">Múltipla Escolha</a>
        </div>
        <div class="col-md-4">
        	<a href="@controllers.questions.routes.UploadQuestionController.create()" role="button" class="btn btn-default btn-lg btn-block">Update de Arquivo</a>
        </div>
        <div class="col-md-4">
        	<a href="#" role="button" class="btn btn-default btn-lg btn-block">Codificação</a>
        </div>
      </div>









}