@(studentModel : models.its.StudentModel)

@import helper._ 

<head>
	<script src='@routes.Assets.at("studentmodel/javascripts/Chart.bundle.js")'></script>
	<script src='@routes.Assets.at("studentmodel/javascripts/utils.js")'></script>
</head>

@dashboard.index("student") {

	<!-- Page Heading -->
	<div class="container" style="padding-top: 10px;" align="center">
		<div id="container" style="width: 75%;">
			<canvas id="canvas"></canvas>
		</div>
		<div align="left">
			<button class="btn btn-dark" id="addData">Visualizar próximo
				assunto</button>
			<button class="btn btn-dark" id="removeData">Ocultar assunto</button>
		</div>
	</div>
	<script src='@routes.Assets.at("studentmodel/javascripts/verticalBar.js")'></script>
	<script src='@routes.Assets.at("studentmodel/javascripts/jquery-3.2.1.slim.min.js")'></script>
	<script src='@routes.Assets.at("studentmodel/javascripts/popper.min.js")'></script>
	<script src='@routes.Assets.at("studentmodel/bootstrap/js/bootstrap.min.js")'></script>
	
	<!-- End Page Heading -->


}
