    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">System</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="@routes.Application.index()">Home</a></li>
                <li><a href="@routes.Application.index()">Faça Seu Cadastro</a></li>
                <li><a href="@routes.Application.index()">Sobre Nós</a></li>
                <li><a href="@routes.Application.index()">Junte a Nós</a></li>
                <li><a href="@routes.Application.index()">Aprenda a Usar</a></li>
                <li><a href="@routes.LoginController.login()">Login</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>