@()

@main2("System") {

@if(flash.containsKey("success")) {
	<center>
	<div class="alert alert-success">
        <strong>Feito! </strong> @flash.get("success")
    </div>
    </center>
    }
    
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Faça Login e Comece a Usar o Sistema!</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                              <div class="form-group">
                                  <label for="email" class="control-label">Email</label>
                                  <input type="text" class="form-control" id="email" name="email" value="" required="" title="Por favor, insira seu email">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">Senha</label>
                                  <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password">
                                  <span class="help-block"></span>
                              </div>
                              <div id="loginErrorMsg" class="alert alert-error hide">Email ou senha inválidos</div>
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" name="remember" id="remember"> Lembrar email e senha
                                  </label>
                                  <p class="help-block">(se você estiver usando um computador público, não marque essa opção)</p>
                              </div>
                              <button type="submit" class="btn btn-success btn-block">Entrar</button>
                              <a href="/forgot/" class="btn btn-default btn-block">Esqueci a Senha</a>
                          </form>
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <p class="lead">Faça seu cadastro<span class="text-success"> AGORA</span>!</p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success"></span> Estude e aprenda online</li>
                          <li><span class="fa fa-check text-success"></span> Aprenda de forma divertida</li>
                          <li><span class="fa fa-check text-success"></span> Acompanhe sua evolução</li>
                      </ul>
                      <p><a href="@routes.CrudStudentController.signupStudent()" class="btn btn-info btn-block">Cadastro do Aluno</a></p>
                      
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success"></span> Correção automática de atividades</li>
                          <li><span class="fa fa-check text-success"></span> Acompanhe o desempenho da turma</li>
                          <li><span class="fa fa-check text-success"></span> Vários cursos prontos</li>
                      </ul>
                      <p><a href="@routes.CrudTeacherController.signupTeacher()" class="btn btn-info btn-block">Cadastro do Professor</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>

}