@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aprenda de forma divertida e online. Vários cursos prontos e gratuitos">
    <meta name="author" content="CORE Group">

    <title>System</title>
    

    <!-- Bootstrap core CSS -->
    <link href='@routes.Assets.at("stylesheets/bootstrap.min.css")' rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <script src='@routes.Assets.at("javascripts/ie-emulation-modes-warning.js")'></script>

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
    
  </head>
<!-- BODY ================================================== -->
<body>

<!-- MENU ================================================== -->
@indexMenu()

<br><br><br><br>

@content

<!-- FOOTER ================================================== -->
@footer()


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src='@routes.Assets.at("javascripts/jquery.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/docs.min.js")'></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src='@routes.Assets.at("javascripts/ie10-viewport-bug-workaround.js")'></script>
  

</body>
</html>