@(teacherForm: Form[models.users.Teacher])

@import helper._ 

@main("Marvin") {

<fieldset>
<center>

@if(teacherForm.hasGlobalErrors || teacherForm.hasErrors) { 
	<div class="alert alert-warning">
        <strong>Aviso:</strong> Algumas informações foram preenchidas incorretamente, preencha o formulário 
        novamente para realizar seu cadastro no sistema.
    </div> <!-- fechar alert alert-warning -->
}

</center> 
</fieldset>

<div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              
              @form(routes.TeacherController.save()) {

			  <fieldset>
			    <div id="legend">
			      <legend class="">Cadastro do Professor</legend>
			    </div> <!-- fechar legend -->
			    <div class="control-group">
			      <!-- fullname -->
			      @inputText(
			                teacherForm("fullname"), 
			                '_label -> "Nome", 
			                '_help -> "Necessário para todos os certificados que você obtiver.",
			                '_error -> teacherForm.globalError
			          )
			    </div> <!-- fechar control-group -->
			 
			    <div class="control-group">
			      <!-- E-mail -->
			      @inputText(
			                teacherForm("email"), 
			                '_label -> "Email", 
			                '_help -> "Seu email será utilizado para login.",
			                '_error -> teacherForm.globalError
			          )
			    </div> <!-- fechar control-group -->
			 
			    <div class="control-group">
			      <!-- Password-->
			      @inputPassword(
			                teacherForm("password"), 
			                '_label -> "Senha",
			                '_help -> "A senha deve ter no mínimo 6 caracteres. "
			          )
			    </div> <!-- fechar control-group -->
			 
			    <div class="control-group">
			      <!-- Password -->
			      	<div class="clearfix  " id="password_confirm">
				  	    <label for="repeatPassword">Repita a senha</label>
				  	    <div class="input">
					    	<input type="password" id="password_confirm" name="password_confirm" value="@teacherForm("password").value">
					        <span class="help-inline"></span>
					        <span class="help-block">Por favor, repita a sua senha novamente.</span> 
				  		</div> <!-- fechar input -->
			    	</div> <!-- fechar password_confirm -->
			    </div> <!-- fechar control-group -->
			    
			    <div class="control-group">
			      <!-- institution -->
			      @inputText(
			                teacherForm("institution"), 
			                '_label -> "Instituição de Ensino", 
			                '_help -> "Caso não seja vinculado a nenhuma instituição, digite Autônomo.",
			                '_error -> teacherForm.globalError
			          )
			    </div> <!-- fechar control-group -->
			    
			    <div class="control-group">
			      <!-- teaching area -->
			      @inputText(
			                teacherForm("teachingArea"), 
			                '_label -> "Área de Atuação", 
			                '_help -> "Área na qual é formado ou atual. Exs: Informática, Pedagogia, Matemática...",
			                '_error -> teacherForm.globalError
			          )
			    </div> <!-- fechar control-group -->
			 
			    <div class="control-group">
			      	<!-- Button -->
			      	<div class="controls">
			        		<button class="btn btn-success">Cadastrar</button>
			      	</div> <!-- fechar controls -->
			    </div> <!-- fechar control-groups -->
			  </fieldset>
			  
			} <!-- fechar form -->
              
          </div> <!-- fechar modal-header -->
      </div> <!-- fechar modal-content -->
</div> <!-- fechar modal-dialog -->

}