@(studentForm: Form[models.users.Student])

@import helper._
    
    <div class="control-group">
				      <!-- Password -->
				      <div class="clearfix  " id="current_password">
					    <label for="currentPassword">Senha atual</label>
					    <div class="input">
					    <input type="password" id="current_password" name="current_password" value="@studentForm("password").value">
					        <span class="help-inline"></span>
					        <span class="help-block">Senha não confere.</span> 
					  </div>
				    </div>
				 
				    <div class="control-group">
				      <!-- Password-->
				      @inputPassword(
			                studentForm("password"), 
			                '_label -> "Nova senha",
			                '_help -> "A senha deve ter no mínimo 6 caracteres. "
			          )
				    </div>
				    
				 
				    <div class="control-group">
				      <!-- Password -->
				      <div class="clearfix  " id="password_confirm">
					    <label for="repeatPassword">Repita a nova senha</label>
					    <div class="input">
					    <input type="password" id="password_confirm" name="password_confirm" value="@studentForm("password").value">
					        <span class="help-inline"></span>
					        <span class="help-block">Por favor, repita a sua senha novamente.</span> 
					  </div>
				    </div>