@(userForm: DynamicForm)

@import helper._

@dashboard.bodyDashboard {

	<div id="login-overlay" class="modal-dialog">

		@if(userForm.hasGlobalErrors || userForm.hasErrors) { 
			<div class="alert alert-danger">
        		<strong>Aviso:</strong> @userForm.globalError.message
    		</div>
		}

			 @form(routes.StudentController.updatePassword()) {
			 	<fieldset>
				    <div id="legend">
				      <legend class="">Mudar Senha</legend>
				    </div>
		
    				<div class="control-group">
				    	<!-- Password -->
				    	@inputPassword(
						    userForm("currentPassword"), 
						    '_label -> "Senha Atual"
						)
				    </div>
				 
				    <div class="control-group">
				      <!-- Password-->
				      @inputPassword(
			                userForm("newPassword"), 
			                '_label -> "Nova senha",
			                '_help -> "A senha deve ter no mínimo 6 caracteres. "
			          )
				    </div>
				    
				 
				    <div class="control-group">
				      <!-- Password -->
				      @inputPassword(
			                userForm("confirmPassword"), 
			                '_label -> "Repita a Nova senha",
			                '_help -> "Por favor, repita a nova senha"
			          )
				    </div>
				    
				    <div class="control-group">
				      <!-- Button -->
				      <div class="controls">
				        <button class="btn btn-success">Salvar</button>
				      </div>
				    </div>
				    
				    </fieldset>
				}
	</div>
  }