@(user: models.users.User)

@import converters.ConvertUserToTeacher

@dashboard.bodyDashboard {
	
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">@user.getFullname()</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle">
                </div>
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                    
                      <tr>
                        <td>Status</td>
                        <td>@user.getType()</td>
                      </tr>

                      <tr>
                        <td>Último acesso em</td>
                        <td>@user.getLastAccess().getTime()</td>
                      </tr>

                      <tr>
                        <td>Data de Aniversário</td>
                        <td>@user.getDateOfBirth().get(Calendar.DAY_OF_MONTH) @user.getDateOfBirth().getDisplayName(Calendar.MONTH, Calendar.LONG,new Locale("pt","BR"))</td>
                      </tr>
                   
                      <tr>
                        <td>Sexo</td>
                        <td>@user.getGender()</td>
                      </tr>

                      <tr>
                        <td>Estado</td>
                        <td>@user.getState()</td>
                      </tr>

		      		  <tr>
                        <td>Cursos Recentes</td>
                        <td> OBI<br> OBM<br> </td>
                      </tr>
                      
                      
                      @if(user.getType.equals("Teacher")){
                      		@teacherDetails(ConvertUserToTeacher.convert(user))
                      }
                     
                    </tbody>
                  </table>
				  
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i> Enviar Mensagem</a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i> Editar</a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i> Deletar Usuário</a>
                        </span>
                    </div>
            
          </div>
        </div>
      </div>
    </div>	


}